<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nemesiss.dev.logback_android_logviewer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity
                android:theme="@style/LogViewerTheme"
                android:name=".activity.LogFileViewerActivity"
                android:label="@string/log_viewer_activity_label">
        </activity>
        <activity
                android:theme="@style/LogViewerTheme"
                android:name=".activity.LogFileExplorerActivity"
                android:label="@string/log_explorer_activity_label"
                android:launchMode="singleTask">
        </activity>
    </application>
</manifest>